@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DM Mono";
    src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter.ttf);
}

html,
body {
    overflow: hidden;
    background-color: #292929;
    color: white;
    font-family: 'DM Mono';
}

.snap-y-scroll {
    scroll-snap-type: y mandatory;
}

.grid-half {
    grid-template-columns: 50% 50%;
}

.grid-centered {
    display: grid;
    place-items: center;
}

.flash {
    animation: flash 300ms ease-in-out;
}

.gradient-text {
    background-image: linear-gradient(86.87deg, #0007FF 29.44%, #02A3FE 81.65%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: Inter;
    font-weight: 700;
}

@keyframes flash {
    0% {
        background-color: green;
    }

    100% {
        background-color: initial;
    }
}